/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.snow-animation-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

html,
body {
    height: 100%;
    background-color: ghostwhite;
}
header {
    width: 100%;
    height: 75px;
    background: #00001E;
    justify-content: center;
    box-shadow: 5px 5px 5px grey;
    position: fixed;
    top: 0;
    z-index: 1000;
}

@media screen and  (max-width: 1500px)  {
     #main-idea {
        display: none;
    }
    .phone-data {
        display: none;
    }


}
@media screen and  (max-width: 1000px)  {
   #logo {
       display: none;
   }


}
main {
    min-height: 100%;
    flex: 1 1 auto;
}
.contact-main {
    width: auto;
    margin: 10% auto auto 10%;
    align-items: center;
    height: 120px;
    position: absolute;
    font-size: 37px;
}
.aboutus-main {
    width: auto;
    margin: 10% auto auto 10%;
    align-items: center;
    height: 120px;
    position: absolute;
    font-size: 37px;
}
.aboutus-main h1::after{
    content: "";
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 34%;
    min-width: 300px;
    height: 1px;
    background: green;
}
.contact-main h1::after {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 34%;
    min-width: 300px;
    height: 1px;
    background: green;
}

.contact-panels{
    margin: 50px 0 50px;
}
.contact-item {
    margin: 0 0 25px;
    display: block;
    vertical-align: top;
    color: #555;
    font-size: 34px;
    line-height: 28px;
    font-weight: 400;
}
.contact-imgs {
    height: 25px;
    width: 25px;
}
.main_head {
    flex-direction: row;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
#logo {
    padding: 5px;
    max-height: 65px;
    float:left;
    position: fixed;
    top: 0;

}
.nav_menu #phone{
    display: inline-block;
    float: left;
    justify-content: center;
    margin: 20px 5px 5px;
}
.nav_item {
    display: inline-block;
    margin: 5px 10px 5px;
}
.textColor {
    color: whitesmoke;
    font-size: 27px;

}
.contact-data:active {
    color: #b2a6eb;
}
#main-idea {
    color: whitesmoke;
    font-size: 17px;
    float: right;
    margin: 20px 5px 5px;
    padding: 0px 0px 10px;
}
.contact-data {
    color: whitesmoke;
    font-size: 27px;
    text-decoration: none;
}
.contact-data-new {
    color: grey;
    text-decoration: underline dotted grey;
}
.phone-data {
    color: whitesmoke;
    font-size: 27px;
    text-decoration: none;
}
.panel {
    display:flex;
    width: auto;
    margin: 100px 10% 40px;
    background: white;
    height: 120px;
    box-shadow: 5px 5px 5px grey;
    border: 1px solid grey;
    border-radius: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}
.panel_item {
    display: inline-block;
    margin: 10px;
    padding: 10px;

}
.textColor_1 {
    color: Black;
    font-size: 27px;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
}
@media screen and  (max-width: 1200px) {
    .textColor_1 {
        font-size: 20px;
    }
}

.panel_pictures {
    max-height: 200px;
    max-width: 400px;
    margin: 10px 10px 10px;
}

.galery {
    display:grid;
    grid-template-columns: auto auto auto;
    align-items:center;
    margin: 15px;
}
@media screen and  (max-width: 1230px) {
    .galery{
        grid-template-columns: auto auto;
    }
}
article {
    display:flex;
    justify-content:space-evenly;
    margin: 20px;
}
.galery_item {
    align-self: center;
    display: inline-block;
    margin:  10px auto 10px;
    padding: 20px;
    font-weight: bolder;
    font-size: 20px;
}
.galery_item:nth-child(6n+1),.galery_item:nth-child(6n+2),.galery_item:nth-child(6n+3)  {
    color: grey;
}


footer {
    width: 100%;
    height: auto;
    background: #00001E;
    position: absolute;
    flex: 0 0 auto;
}
.footer_main {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;
}
.textColor_2 {
    font-size: 13px;
    color: ghostwhite;
    display: inline-block;

}
#countDown {
    font-size: 25px;
    color: whitesmoke
}
#pltRes {
    font-size: 15px;
    color: whitesmoke
}
#elka {
    width: 50px;
    height: 50px;
}
a.current-page:active {
    color: black;
}
